@model BtsProjectSite.Models.AccountDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimsFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimsLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimsEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimsRoles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsRoles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
