@model BtsIntegrated.Controllers.UserGeoWithLocations
@{
    ViewBag.Title = "Home Page";
    var tempLat = 0;
    var tempLng = 0;
    var hLat = "";
    var hLng = "";
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<div class="jumbotron">
    <h1>Welcome to the Study Space Finder</h1>
    <p class="lead">Please enter Location and Cick "Search" to begin</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

</div>
<div class="row">
    <div class="col-md-12">
        <div id="map" class="col-md-6 col-md-offset-1"> </div>
        <div class="col-md-2">
            <div class="checkbox"  display="none">
                <label>
                    <input type="checkbox" name="filter" id="bathroomCheckBox" value="bathroom" checked="checked" /> Bathroom
                </label>
                <br />
                <label>
                    <input type="checkbox" name="filter" id="wifiCheckbox" value="wifi" checked="checked" /> Wifi
                </label>
                <br />
                <label>
                    <input type="checkbox" name="filter" id="cashCheckbox" value="cash" checked="checked" />Cash
                </label>
                <br />
                <label>
                    <input type="checkbox" name="filter" id="creditCardCheckBox" value="creditcard" checked="checked" /> Credit Card
                </label>
                <br />
                <label>
                    <input type="checkbox" name="filter" id="handicapCheckbox" value="handicap" checked="checked" /> Handicap Accessible
                </label>
                <br />
                <label>
                    <input type="checkbox" name="filter" id="foodCheckBox" value="food" checked="checked" /> Food Available
                </label>
                <br />
                <label>
                    <input type="checkbox" name="filter" id="printersCheckbox" value="printers" checked="checked" />Printers
                </label>
                <br />
                <label>
                    <input type="checkbox" name="filter" id="powerOutletCheckbox" value="poweroutlets" checked="checked" />Power Outlets
                </label>
                <br />
            </div>            
        </div>
    </div>
    <script language="javascript" type="text/javascript">

        function GPSFinder() {
            navigator.geolocation.getCurrentPosition(showPosition, positionError);

            function showPosition(position) {
                var coordinates = position.coords;
                // get data put into a json then place extract from controller into razor variable

                hLat = coordinates.latitude;
                hLng = coordinates.longitude;

                //modify coordinates to change location
                //var uluru = { lat: 43.771311, lng: -79.498853 };
                var uluru = { lat: hLat, lng: hLng };

                var map = new window.google.maps.Map(document.getElementById('map'),
                {
                    @*zoom sets the amount of area to show. setting 0 shows the entire planet. max readable is 17*@
                    zoom: 12,
                    center: uluru
                });

                var markerUser = new window.google.maps.Marker({
                    position: uluru,
                    map: map
                });
                var contentStringUser = '<h5>You are here</h5>';
                var infowindowUser = new window.google.maps.InfoWindow
                ({
                    content: contentStringUser
                });

                markerUser.addListener('click',
                    function() {
                        infowindowUser.open(map, markerUser);
                    });

                var infowindow = new window.google.maps.InfoWindow({});

                var i;
                var marker;
                var locationLat = new Array();
                var locationLng = new Array();
                var locationName = new Array();
                var locationAddress = new Array();
                var locationPhone = new Array();
                var locatioWebsite = new Array();
                var locationId = new Array();
                var locationRatingLink = new Array();
                var locationCommentLink = new Array();
                var locationDetailLink = new Array();
                var lCount = @Model.Locations.Count();
                var contentString = [];
                @foreach (var data in Model.Locations)
                {
                    @:locationLat.push("@data.Latitude");
                    @:locationLng.push("@data.Longitude");
                    @:locationName.push("@data.Name");
                    @:locationAddress.push("@data.Address");
                    @:locationPhone.push("@data.PhoneNumber");
                    @:locatioWebsite.push("@data.Website");
                    @:locationId.push("@data.LocationId");
                    @:locationRatingLink.push('@Url.Action("Create", "Rating", new {id = data.LocationId, lat = Model.Latitude, lng = Model.Longitude})');
                    @:locationCommentLink.push('@Url.Action("Create", "Comment", new {id = data.LocationId, lat = Model.Latitude, lng = Model.Longitude})');
                    @:locationDetailLink.push('@Url.Action("PubLocationDetails", "Location", new {id = data.LocationId})');
                }
                for (i = 0; i < lCount; i++) {
                    marker = new window.google.maps.Marker
                    ({
                        position: new window.google.maps.LatLng(locationLat[i], locationLng[i]),
                        map: map
                    });

                    //Insert hyperlink inot the provided areas to configure the
                    //redirection to specified views
                    contentString.push('<h5>' +
                        locationName[i] +
                        '</h5>' +
                        '<div>' +
                        '<p>' +
                        locationAddress[i] +
                        '</p>' +
                        '<p>' +
                        locationPhone[i] +
                        '</p>' +
                        '<p>' +
                        locatioWebsite[i] +
                        '</p>' +
                        '<a href="' +
                        locationCommentLink[i] +
                        '" data-toggle="modal" data-target="#modal-container"> Comment About Location...</a>' +
                        '</br>' +
                        '<a href="' +
                        locationRatingLink[i] +
                        '" data-toggle="modal" data-target="#modal-container"> Rate Location...</a>' +
                        '</br>' +
                        '<a href="' +
                        locationDetailLink[i] +
                        '"> Location Detail...</a>' +
                        '</div>');

                    window.google.maps.event.addListener(marker,
                        'click',
                        (function(marker, i) {
                            return function() {
                                infowindow.setContent(contentString[i]);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                }
            }

        }

        function positionError(position) {
            alert("Error:   " + position.code);
        }


    </script>

    <style>
        #map {
            height: 600px;
            width: 800px;
        }
    </style>
    <script>
        GPSFinder();

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2XYssb3qlLDRd1KOE7Knxy-6hnrl1xbM&callback=initMap"
            type="text/javascript"></script>
    <br/>
    <br/>

</div>
<br/>
<div class="row">
    @using (Html.BeginForm("Markers", "Home", FormMethod.Post))
    {
        <div class="col-lg-3"></div>
        <div class="form-group col-lg-6">
            <div class="form-inline">
                @Html.EditorFor(m => m.PostalCode, new { htmlAttributes = new { @class = "form-control input-lg" } })
                <input type="submit" value="Search" class="btn-lg btn-primary" />

                @Html.HiddenFor(p => p.PostalCode)
                <br />
            </div>
            <br />
            <label>Zoom Size:</label>
            @Html.RadioButtonFor(model => model.Zoom, 11, new { id = "11" }) 11
            @Html.RadioButtonFor(model => model.Zoom, 12, new { id = "12", @checked = "checked" }) 12
            @Html.RadioButtonFor(model => model.Zoom, 14, new { id = "14" }) 14
            <br />

        </div>
        <div class="col-lg-3"></div>
    }
</div>

@*<script>
    $(document).ready({
        //added
     var map=null;
    var markers = [];

    var filters = {bathroom:false, wifi:false, cash:false, creditCard:false, handicap:false, food:false, printers:false, powerOutlets:false}

    $(function() {
        $('input[name=filter]').change(function(e) {
            map_filter(this.id);
            filter_markers();
        });
    });

    var get_set_options = function() {
        ret_array = [];
        for (option in filters){
            if (filters[option]) {
                ret_array.push(option);
            }
        }
        return ret_array;
    }

    var filter_markers = function() {
        set_filters = get_set_options();

        for (i=0; i<markers.length; i++){
            marker = markers[i];

            keep = true;
            for(opt=0; opt<set_filters.length; opt++){
                if(!marKer.properties[set_filters[opt]]){
                    keep = false;
                }
            }
            marker.setVisible(keep);
        }
    }

    var map_filter = function(id_val) {
        if (filters[id_val])
            filters[id_val] = false;
        else
            filters[id_val] = true;
    }
    //
    });
</script>*@