@model BtsIntegrated.Controllers.RatingAdd

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal ">
        <h4>We value your feedback!</h4>
        <p>
            To help us give you the optimal studying experience, we want to know about your experience at this particular location.
            Please select your level of satisfaction with the establishment:
        </p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-6 col-sm-6 col-md-offset-2 col-sm-offset-2">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            @Html.RadioButtonFor(m => m.Value, "1")
                        </td>
                        <td>
                            @Html.RadioButtonFor(m => m.Value, "2")
                        </td>
                        <td>
                            @Html.RadioButtonFor(m => m.Value, "3")
                        </td>
                        <td>
                            @Html.RadioButtonFor(m => m.Value, "4")
                        </td>
                        <td>
                            @Html.RadioButtonFor(m => m.Value, "5")
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocationId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-offset-2 col-md-10">
                <input type="submit" value="Add Rating" class="btn btn-default" data-dismiss="modal"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
}