@model BtsIntegrated.Controllers.LocationWithTimings

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LocationWithTimings</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LocationId)

        @*Main data addition form*@
        <div class="form-group">
            <dl class="dl-horizontal">

                <dt>Name</dt>
                <dd>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </dd>
                <br />
                <dt>Address</dt>
                <dd>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </dd>
                <br />
                <dt>Postal Code</dt>
                <dd>
                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                </dd>
                <br />
                <dt>Phone Number</dt>
                <dd>
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </dd>
                <br />
                <dt>City</dt>
                <dd>
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </dd>
                <br />
                <dt>Description</dt>
                <dd>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </dd>
                <br />
                <dt>Website</dt>
                <dd>
                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                </dd>
            </dl>
        </div>

        @*Facilities data addition form*@
        <div class="form-group">
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Facilities</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Wifi</td>
                        <td>
                            @Html.EditorFor(model => model.WifiAvailability)
                            @Html.ValidationMessageFor(model => model.WifiAvailability, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Power Outlet</td>
                        <td>
                            @Html.EditorFor(model => model.Outlet)
                            @Html.ValidationMessageFor(model => model.Outlet, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Study Rooms</td>
                        <td>
                            @Html.EditorFor(model => model.StudyRoom)
                            @Html.ValidationMessageFor(model => model.StudyRoom, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Printers</td>
                        <td>
                            @Html.EditorFor(model => model.Printers)
                            @Html.ValidationMessageFor(model => model.Printers, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Purchase</td>
                        <td>
                            @Html.EditorFor(model => model.Purchase)
                            @Html.ValidationMessageFor(model => model.Purchase, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Food</td>
                        <td>
                            @Html.EditorFor(model => model.Food)
                            @Html.ValidationMessageFor(model => model.Food, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Washrooms</td>
                        <td>
                            @Html.EditorFor(model => model.Washrooms)
                            @Html.ValidationMessageFor(model => model.Washrooms, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Handicap Access</td>
                        <td>
                            @Html.EditorFor(model => model.HandicapAccess)
                            @Html.ValidationMessageFor(model => model.HandicapAccess, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Debit Accepted</td>
                        <td>
                            @Html.EditorFor(model => model.AcceptDebit)
                            @Html.ValidationMessageFor(model => model.AcceptDebit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Credit Accepted</td>
                        <td>
                            @Html.EditorFor(model => model.AcceptCredit)
                            @Html.ValidationMessageFor(model => model.AcceptCredit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Cash</td>
                        <td>
                            @Html.EditorFor(model => model.CashOnly)
                            @Html.ValidationMessageFor(model => model.CashOnly, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        @*Location Timings data addition form*@
        <div class="form-group">
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Opening</th>
                        <th>Closing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>
                            @Html.EditorFor(model => model.TimingMondayOpeningTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingMondayOpeningTime, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingMondayClosingTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingMondayClosingTime, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>
                            @Html.EditorFor(model => model.TimingTuesdayOpeningTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingTuesdayOpeningTime, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingTuesdayClosingTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingTuesdayClosingTime, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Wednesday
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingWednesdayOpeningTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingWednesdayOpeningTime, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingWednesdayClosingTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingWednesdayClosingTime, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thursday
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingThursdayOpeningTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingThursdayOpeningTime, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingThursdayClosingTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingThursdayClosingTime, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>
                            @Html.EditorFor(model => model.TimingFridayOpeningTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingFridayOpeningTime, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingFridayClosingTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingFridayClosingTime, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>
                            @Html.EditorFor(model => model.TimingSaturdayOpeningTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingSaturdayOpeningTime, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingSaturdayClosingTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingSaturdayClosingTime, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>
                            @Html.EditorFor(model => model.TimingSundayOpeningTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingSundayOpeningTime, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.TimingSundayClosingTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimingSundayClosingTime, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
